USE [master]
GO
/****** Object:  Database [BasketballSystem]    Script Date: 16.11.2020 15:08:45 ******/
CREATE DATABASE [BasketballSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BasketballSystem', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BasketballSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BasketballSystem_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BasketballSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BasketballSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BasketballSystem]
GO
/****** Object:  Table [dbo].[ActionType]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionType](
	[ActionTypeId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ActionType] PRIMARY KEY CLUSTERED 
(
	[ActionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Jobnumber] [varchar](6) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Passwords] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[RoleId] [char](10) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Jobnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conference]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conference](
	[ConferenceId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Conference] PRIMARY KEY CLUSTERED 
(
	[ConferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountyCode] [nchar](3) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[DivisionId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ConferenceId] [int] NOT NULL,
 CONSTRAINT [PK_Division] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matchup]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matchup](
	[Id] [int] NOT NULL,
	[MatchupId] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[MatchupTypeId] [int] NOT NULL,
	[Team_Away] [int] NOT NULL,
	[Team_Home] [int] NOT NULL,
	[Starttime] [datetime] NOT NULL,
	[Team_Away_Score] [int] NOT NULL,
	[Team_Home_Score] [int] NOT NULL,
	[Location] [varchar](200) NOT NULL,
	[Status] [int] NOT NULL,
	[CurrentQuarter] [varchar](50) NULL,
 CONSTRAINT [PK_Matchup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchupDetail]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchupDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchupId] [int] NULL,
	[Quarter] [int] NULL,
	[Team_Away_Score] [int] NULL,
	[Team_Home_Score] [int] NULL,
 CONSTRAINT [PK_MatchupDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchupLog]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchupLog](
	[Id] [int] NOT NULL,
	[MatchupId] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[OccurTime] [varchar](10) NOT NULL,
	[TeamId] [int] NOT NULL,
	[PlayerId] [int] NOT NULL,
	[ActionTypeId] [int] NOT NULL,
	[Remark] [varchar](300) NULL,
 CONSTRAINT [PK_MatchupLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchupType]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchupType](
	[MatchupTypeId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Img] [varbinary](max) NOT NULL,
	[Description] [varchar](50) NULL,
	[NumberOfLike] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Pictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[JoinYear] [date] NOT NULL,
	[Height] [decimal](10, 2) NOT NULL,
	[Weight] [decimal](10, 2) NOT NULL,
	[DateOfBirth] [date] NULL,
	[College] [varchar](50) NULL,
	[CountryCode] [nchar](3) NOT NULL,
	[Img] [nchar](10) NULL,
	[IsRetirment] [bit] NOT NULL,
	[RetirementTime] [date] NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerInTeam]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerInTeam](
	[PlayerInTeamId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[ShirtNumber] [varchar](10) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[StarterIndex] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerStatistics]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerStatistics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchupId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[PlayerId] [int] NOT NULL,
	[IsStarting] [int] NOT NULL,
	[Min] [decimal](10, 2) NOT NULL,
	[Point] [int] NOT NULL,
	[Assist] [int] NOT NULL,
	[FieldGoalMade] [int] NOT NULL,
	[FieldGoalMissed] [int] NOT NULL,
	[3-PointFieldGoalMade] [int] NOT NULL,
	[3-PointFieldGoalMissed
3-PointFieldGoalMissed] [int] NOT NULL,
	[FreeThrowMade] [int] NOT NULL,
	[FreeThrowMissed] [int] NOT NULL,
	[Rebound] [int] NOT NULL,
	[OFFR] [int] NOT NULL,
	[DFFR] [int] NOT NULL,
	[Steal] [int] NOT NULL,
	[Block] [int] NOT NULL,
	[Turnover] [int] NOT NULL,
	[Foul] [int] NOT NULL,
 CONSTRAINT [PK_PlayerStatistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionName]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionName](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Abbr] [nchar](2) NOT NULL,
 CONSTRAINT [PK_PositionName] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PositionOfPlayer]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionOfPlayer](
	[PositionId] [int] NOT NULL,
	[PlayerId] [int] NOT NULL,
 CONSTRAINT [PK_PositionOfPlayer] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC,
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostSeason]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostSeason](
	[TeamId] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK_PostSeason] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC,
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [char](1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[SeasonId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Season] PRIMARY KEY CLUSTERED 
(
	[SeasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 16.11.2020 15:08:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [varchar](50) NOT NULL,
	[DivisionId] [int] NOT NULL,
	[Coach] [varchar](50) NOT NULL,
	[Abbr] [char](3) NOT NULL,
	[Stadium] [varchar](100) NULL,
	[Logo] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Conference] ([ConferenceId], [Name]) VALUES (1, N'Eastern')
INSERT [dbo].[Conference] ([ConferenceId], [Name]) VALUES (2, N'Western')
GO
INSERT [dbo].[Country] ([CountyCode], [CountryName]) VALUES (N'ARG', N'Argentina')
INSERT [dbo].[Country] ([CountyCode], [CountryName]) VALUES (N'AT ', N'Austria')
INSERT [dbo].[Country] ([CountyCode], [CountryName]) VALUES (N'AUS', N'Australia')
GO
INSERT [dbo].[Division] ([DivisionId], [Name], [ConferenceId]) VALUES (1, N'Southeastern', 1)
INSERT [dbo].[Division] ([DivisionId], [Name], [ConferenceId]) VALUES (2, N'Centra', 1)
INSERT [dbo].[Division] ([DivisionId], [Name], [ConferenceId]) VALUES (3, N'Atlantic', 1)
GO
SET IDENTITY_INSERT [dbo].[PositionName] ON 

INSERT [dbo].[PositionName] ([PositionId], [Name], [Abbr]) VALUES (6, N'SmallForward', N'SF')
INSERT [dbo].[PositionName] ([PositionId], [Name], [Abbr]) VALUES (7, N'PowerForward', N'PF')
INSERT [dbo].[PositionName] ([PositionId], [Name], [Abbr]) VALUES (8, N'Center', N'C ')
SET IDENTITY_INSERT [dbo].[PositionName] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

SET IDENTITY_INSERT [dbo].[Team] OFF
GO
ALTER TABLE [dbo].[Division]  WITH CHECK ADD  CONSTRAINT [FK_Division_Conference] FOREIGN KEY([ConferenceId])
REFERENCES [dbo].[Conference] ([ConferenceId])
GO
ALTER TABLE [dbo].[Division] CHECK CONSTRAINT [FK_Division_Conference]
GO
ALTER TABLE [dbo].[Player]  WITH CHECK ADD  CONSTRAINT [FK_Player_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountyCode])
GO
ALTER TABLE [dbo].[Player] CHECK CONSTRAINT [FK_Player_Country]
GO
ALTER TABLE [dbo].[PositionOfPlayer]  WITH CHECK ADD  CONSTRAINT [FK_PositionOfPlayer_Player] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Player] ([PlayerId])
GO
ALTER TABLE [dbo].[PositionOfPlayer] CHECK CONSTRAINT [FK_PositionOfPlayer_Player]
GO
ALTER TABLE [dbo].[PositionOfPlayer]  WITH CHECK ADD  CONSTRAINT [FK_PositionOfPlayer_PositionName] FOREIGN KEY([PositionId])
REFERENCES [dbo].[PositionName] ([PositionId])
GO
ALTER TABLE [dbo].[PositionOfPlayer] CHECK CONSTRAINT [FK_PositionOfPlayer_PositionName]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Division] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Division] ([DivisionId])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Division]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [Admin_Gender_Check_Constraint] CHECK  (([Gender]='M' OR [Gender]='F'))
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [Admin_Gender_Check_Constraint]
GO
ALTER TABLE [dbo].[Matchup]  WITH CHECK ADD  CONSTRAINT [CK_Matchup_Status] CHECK  (([Status]=(1) OR [Status]=(0) OR [Status]=(-1)))
GO
ALTER TABLE [dbo].[Matchup] CHECK CONSTRAINT [CK_Matchup_Status]
GO
ALTER TABLE [dbo].[MatchupDetail]  WITH CHECK ADD  CONSTRAINT [CK_MatchupId_Quarter] CHECK  (([Quarter]>=(1) AND [Quarter]<=(6)))
GO
ALTER TABLE [dbo].[MatchupDetail] CHECK CONSTRAINT [CK_MatchupId_Quarter]
GO
ALTER TABLE [dbo].[PlayerInTeam]  WITH CHECK ADD  CONSTRAINT [CK_PlayerInTeam_StartIndex] CHECK  (([StarterIndex]>(0)))
GO
ALTER TABLE [dbo].[PlayerInTeam] CHECK CONSTRAINT [CK_PlayerInTeam_StartIndex]
GO
ALTER TABLE [dbo].[PlayerStatistics]  WITH CHECK ADD  CONSTRAINT [CK_PlayerStatistics_IsStarting] CHECK  (([IsStarting]=(1) OR [IsStarting]=(0)))
GO
ALTER TABLE [dbo].[PlayerStatistics] CHECK CONSTRAINT [CK_PlayerStatistics_IsStarting]
GO
USE [master]
GO
